[server]
send_rate_hz=20
ip=0.0.0.0
port=0

[client]
force_update_interval_ms=4
port=0

[emulator]
render_rate_hz=60
main_clock_rate_hz=60

[ui_paths]
apply_cheat_path=../UI/cheating/apply_cheat.ui
cheat_window_path=../UI/cheating/cheat_window.ui
search_cheat_path=../UI/cheating/save_cheat_window.ui
save_cheat_path=../UI/cheating/save_cheat_window.ui
connect_window_path=../UI/connect_window.ui
keymap_window_path=../UI/keymap.ui
player_select_path=../UI/player_select.ui

[cheats]
db_path=../cheats.dat
rows_count=500

[saves]
saves_dir=